<!DOCTYPE html>
<html>
<head>
<title>Sign to Text</title>
<style>
body{
 background:#0d1a26;color:white;
 font-family:sans-serif;text-align:center
}
img{
 border:3px solid #4dc2f6;
 margin-top:20px;
}
button{
 padding:10px 20px;margin-top:15px;
}
.profile-icon{
    position:absolute;
    top:20px;
    right:20px;
    font-size:22px;
    text-decoration:none;
    background:rgba(255,255,255,0.15);
    padding:8px 12px;
    border-radius:50%;
    backdrop-filter:blur(8px);
    color:white;
}
</style>
</head>
<body>

<h2>✋ Sign → Text</h2>
<a href="/profile" class="profile-icon">👤</a>
<img src="{{ url_for('video_feed') }}" width="640">

<br>
<a href="/stop_camera"><button>⏹ Stop Translator</button></a>
<a href="/dashboard"><button>⬅ Back</button></a>



</body>
</html>
